*{
  font-family: 'Quicksand', sans-serif;
  margin: 0;
}

.App {
  text-align: center;
  display: grid;
  grid-template-rows: 1fr 60px;
  height: 100vh;
  width: 100%;
  align-items: center;
  justify-items: center;
  background-color:#ff99a8;
  background-image:radial-gradient(at 97% 90%, hsla(260,98%,64%,1) 0px, transparent 50%),radial-gradient(at 62% 94%, hsla(201,61%,66%,1) 0px, transparent 50%),radial-gradient(at 80% 77%, hsla(240,99%,65%,1) 0px, transparent 50%),radial-gradient(at 77% 56%, hsla(333,77%,79%,1) 0px, transparent 50%),radial-gradient(at 43% 23%, hsla(56,70%,78%,1) 0px, transparent 50%),radial-gradient(at 60% 8%, hsla(256,88%,78%,1) 0px, transparent 50%),radial-gradient(at 57% 31%, hsla(308,87%,79%,1) 0px, transparent 50%);

}

.app__container {
  min-height: 500px;
  min-width: 600px;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.719);
  padding-bottom: 20px;
  padding-top: 20px;
  box-shadow: -1px 12px 28px -11px rgba(0,0,0,0.75);
  -webkit-box-shadow: -1px 12px 28px -11px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px 12px 28px -11px rgba(0,0,0,0.75);

}

.app__lista{
  display: grid;
  grid-gap: 10px;
  align-items: center;
  justify-items: center;
}
.app__p{
  user-select: none;
}
.app__a{
  text-decoration: none;
  color: white;
  font-weight: 900;
}

@media (max-width: 900px) {
  .app__container {
    min-width: 350px;
  }
}